# Lab for data manipulation
Required packages:

- `pandas`
- `seaborn`
- `pandasql`

In [ ]:
import pandas as pd
import pandasql as ps

## Loading datasets

Pandas is able to load data from a wide range of format:
- From RAM using dictionaries
- From CSV files using `read_csv`
- From XML files using `read_xml`
- From HTML files using `read_html`
...

In [ ]:

# Load data from CSV
df = pd.read_csv("data/ship_flag.csv")

# Load data from RAM
df = pd.DataFrame({"column_1": [1, 2, 3], "column_2": [2, 3, 1], "column_3": ["value_1", "value_2", "value_2"]}, index=["index_1", "index_2", "index_3"])

**Exercice**: Load the two datasets in `data/ship_flag.csv` and in `data/ship_sunk.csv` and store them in the variable `ship_flag` and `ship_sunk`.

In [ ]:
# load the two datasets
ship_flag = pd.read_csv("data/ship_flag.csv")
ship_sunk = pd.read_csv("data/ship_sunk.csv")

In [ ]:

# load everything for sqldf
pysqldf = lambda q: sqldf(q, globals())

## Manipulate data using SQL

In [ ]:
# display ship_flag
ps.sqldf("SELECT * FROM ship_flag")

In [ ]:
# display ship_sunk
ps.sqldf("SELECT * FROM ship_sunk")

In [ ]:
# display only the rows for Year 1600
ps.sqldf("SELECT * FROM ship_sunk where Year = 1600")

In [ ]:
ps.sqldf("""SELECT ship_flag.Ship, ship_flag.Flag, ship_sunk.Coordinates
         FROM ship_flag
         INNER JOIN ship_sunk ON ship_flag.Ship = ship_sunk.Ship""")

### Practice: Write the following SQL queries:

1. show all the ship names
2. show all the ships from Greece
3. show all the ship flags of the ships that sunk in 2000

In [ ]:
ps.sqldf("""SELECT Ship from ship_flag""")

In [ ]:
ps.sqldf("""SELECT Ship from ship_flag where Flag='Greece'""")

In [ ]:
ps.sqldf("""SELECT ship_flag.Flag, ship_sunk.Year
         FROM ship_flag
         INNER JOIN ship_sunk ON ship_flag.Ship = ship_sunk.Ship
         WHERE ship_sunk.Year=2000""")

## Useful SQL commands

In [ ]:
# show all flags in the DB with no duplicates
ps.sqldf("""SELECT DISTINCT Flag FROM ship_flag""")

In [ ]:
# show all flags in the DB with no duplicates sorted alphabeticly
ps.sqldf("""SELECT DISTINCT Flag FROM ship_flag ORDER BY Flag ASC""")

In [ ]:
# show the last flag in the aphabetical order
ps.sqldf("""SELECT DISTINCT Flag FROM ship_flag ORDER BY Flag DESC limit 1""")

In [ ]:
# show how many items are in the Flag column (with duplicates)
ps.sqldf("""SELECT COUNT(Flag) FROM ship_flag""")

In [ ]:
# show the number of unique flags
ps.sqldf("""SELECT COUNT(DISTINCT Flag) FROM ship_flag""")

### Practice

1. Find the earliest recorded shipwreck
2. Find how many ships sank in 1942

In [ ]:
ps.sqldf("""SELECT Year from ship_sunk order by Year asc limit 1""")

In [ ]:
ps.sqldf("""SELECT count (*) from ship_sunk where Year=1942""")

## Group By

The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".

The GROUP BY statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.

```
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);

## Practice :
1. count how many ships sank per flag
2. count how many flags had a shipwreck, displayed per year
2. Find which Flag had the most shipwrecks after 2000

In [ ]:
# count how many ships sank per flag
ps.sqldf("""SELECT Flag, count(*)
         FROM ship_flag
         GROUP BY Flag ORDER BY count(*) desc""")

In [ ]:
# count how many flags had a shipwreck, displayed per year
ps.sqldf("""SELECT ship_sunk.Year, count(ship_flag.Flag)
         FROM ship_flag
         INNER JOIN ship_sunk on ship_sunk.Ship = ship_flag.Ship
         GROUP BY Year ORDER BY count(*) desc""")

In [ ]:
# Find which Flag had the most shipwrecks after 2000
ps.sqldf("""SELECT ship_flag.Flag, count(ship_flag.Ship)
         FROM ship_flag
         INNER JOIN ship_sunk on ship_sunk.Ship = ship_flag.Ship
         WHERE ship_sunk.Year > 2000
         GROUP BY Flag ORDER BY count(ship_flag.Ship) desc
         LIMIT 1""")

# Manipulate data using pandas

## Import packages

In [ ]:
import pandas as pd
import seaborn as sns

## Loading datasets

Pandas is able to load data from a wide range of format:
- From RAM using dictionaries
- From CSV files using `read_csv`
- From XML files using `read_xml`
- From HTML files using `read_html`
...

In [ ]:
ship_flag = pd.read_csv("data/ship_flag.csv")
ship_sunk = pd.read_csv("data/ship_sunk.csv")

In [ ]:
# Load data from CSV
df = pd.read_csv("data/ship_flag.csv")

# Load data from RAM
df = pd.DataFrame({"column_1": [1, 2, 3], "column_2": [2, 3, 1], "column_3": ["value_1", "value_2", "value_2"]}, index=["index_1", "index_2", "index_3"])

## Analyzing data

### Columns and indexes
The columns and the index can be accessed as attributes, as a class `Index`.

In [ ]:
# Access the columns
print(df.columns)

# Access the index
print(df.index)

Indexes can be set using the method `set_index`.

In [ ]:
df.set_index("column_1")

**Exercice**: 
1. Print the columns and the indexes of the two dataframes in `ship_flag` and in `ship_flunk`.
2. Set the ship name as the index for the two dataframes `ship_flag` and `ship_sunk`.
3. Using the method `shape` give the number of rows and columns in each dataframe.

In [ ]:
# Print the columns and the indexes of the two dataframes in `ship_flag` and in `ship_flunk`.
print(ship_flag.columns)
print(ship_flag.index)
print(ship_sunk.columns)
print(ship_sunk.index)

In [ ]:
# Set the ship name as the index for the two dataframes `ship_flag` and `ship_sunk`.
# ship_flag.set_index("Ship", inplace=True) # if you want to set the index on the original dataframe
ship_flag.set_index("Ship")
ship_sunk.set_index("Ship") # returns a copy of the dataframe with the index

In [ ]:
# Using the method `shape` give the number of rows and columns in each dataframe.
print(ship_flag.shape)
print(ship_sunk.shape)

### Accessing columns and rows

One of the strength of pandas is the **easy manipulation of data**.

On a row basis, data can be accessed by row index or by location.

In [ ]:
# First row by index range
df.iloc[0]
# Also first row by index name
df.loc["index_1"]

Columns can be accessed by name.

In [ ]:
# Access as a series 
df["column_1"]
# Access several columns at the same time
df[["column_1", "column_2"]]
# Access using both rows and column index
print(df.loc["index_1", 'column_1'])

Data can be filtered using boolean filters, based on conditions.

In [ ]:
# Filter on the serie
df.column_1[df.column_1 > 1]

# Filter on the dataframe
df[df.column_3 == "value_1"]

# Group conditions
df.column_1[(df.column_1 > 1) & (2 > df.column_2)]

**Exercice**:
1. Extract the columns `Flag` from the dataframe `ship_flag`.
2. List all the sunk ships flying the United States flag.
3. Using the dataframe `ship_sunk`, return the year the `Globe Star` ship was sunk.
4. **Bonus**: return all the name of the ships that start with an M.

In [ ]:
# Extract the columns `Flag` from the dataframe `ship_flag`.
ship_flag.Flag

In [ ]:
# List all the sunk ships flying the United States flag.

ship_flag.Ship[ship_flag.Flag == "United States"]

In [ ]:
# Using the dataframe `ship_sunk`, return the year the `Globe Star` ship was sunk.
ship_sunk.Year[ship_sunk.Ship == "Globe Star"]

In [ ]:
# **Bonus**: return all the name of the ships that start with an M.
ship_sunk.Ship[ship_sunk.Ship.str.startswith("M")]

### Statistics and aggregation
Statistics can be easily computed using pandas. The method `describe` provides all standard estimators (on **quantitative** data), which can also be computed separately using the corresponding method.

In [ ]:
df.describe()
df.column_1.mean()

For **categorical** data, you should use `value_counts`. You can access

In [ ]:
df.column_3.unique()

In [ ]:
df.column_3.value_counts()

Data can be grouped on a per column basis to compute the statistics.

In [ ]:
df.groupby(["column_3"]).mean()

**Exercice**:
1. Give the number of distinct flags.
2. Provide the number of ship sunk by flag. Which is the flag with the highest count of sunk ship ?
3. Give the number of ship sunk after 1900.

In [ ]:
# Give the number of distinct flags.
print(len(ship_flag.Flag.unique()))
print(ship_flag.Flag.unique().shape)

In [ ]:
# Provide the number of ship sunk by flag. Which is the flag with the highest count of sunk ship ?
nb_ships = ship_flag.groupby(["Flag"]).count()
print(nb_ships.sort_values(["Ship"], ascending=False).head(1))
# print(nb_ships.iloc[nb_ships.Ship.argmax()])

In [ ]:
# Give the number of ship sunk after 1900.
ship_sunk.Ship[ship_sunk.Year > 1900].count()

### Merging datasets
Often, our data needs to be merged to combine information within several datasets.

In [ ]:
# Create additional data to be merged
df_1 = pd.DataFrame({"column_1": [1, 2, 3], "column_4": [1, 3, 1]}, index=["index_1", "index_2", "index_3"])

# Merge based on a common column
merged_data = pd.merge(df, df_1, on='column_1')

# Different types of joins
merged_inner = pd.merge(df, df_1, on='column_1', how='inner')
merged_left = pd.merge(df, df_1, on='column_1', how='left')
merged_right = pd.merge(df, df_1, on='column_1', how='right')
merged_outer = pd.merge(df, df_1, on='column_1', how='outer')

# Merge on index
merged_on_indices = pd.merge(df, df_1, left_index=True, right_index=True)

**Exercice**:
1. For each of the merges, print the result and understand it.
2. Perform two different merges on the dataset `ship_flag` and `ship_sunk` on the Ship column:
    1. Keeping only ships of the ship_sunk dataframe
    2. Keeping all data
3. Find the flags of the Ships that sank in 2000

In [ ]:
# For each of the merges, print the result
print(merged_data)
print(merged_inner)
print(merged_left)
print(merged_right)
print(merged_outer)
print(merged_on_indices)

In [ ]:
# Merge keeping only ships of the ship_sunk dataframe
ship_notes = pd.merge(ship_sunk, ship_flag, how='left', on='Ship')
print(ship_notes)
# sum(pd.isnull(ship_sunk.Year))

In [ ]:
# Merge keeping all data
ship_all = pd.merge(ship_sunk, ship_flag, on='Ship', how='outer')
print(ship_all)

In [ ]:
# Find the flags of the Ships that sank in 2000
ship_merge = pd.merge(ship_sunk, ship_flag, how='left', on='Ship')
ship_merge.Flag[ship_merge.Year == 2000].unique()

## Data vizualization using seaborn
The standard Python library for plotting is `matplotlib`, and seaborn is a wrapper around it that enables easy integration with pandas dataframe.

Most plots are integrated within the library, using the following syntax:
- x: Value of x axis
- y: Value of y axis
- data: pandas DataFrame

In [ ]:
# Create a count plot with the proper x and y title
g = sns.countplot(x="column_3", data=df)
g.set_xlabel("Column 3")
g.set_ylabel("Count")
g.set_title("Count plot of values in column 3")

# Rotate x labels (is handy when you have a lot of x data)
g.set_xticklabels(g.get_xticklabels(), rotation=30)

In [ ]:
# Create a scatter plot
g = sns.scatterplot(x="column_1", y="column_2", data=df)
g.set_xlabel("Column 1")
g.set_ylabel("Column 2")
g.set_title("Scatter plot of column 1 and column 2")

**Exercice**:
1. Plot for the 10 flags with the highest count of wrecks the number of ship wrecks.
2. Plot per year in the 21th century the number of shipwrecks.

In [ ]:
# Plot for the 10 flags with the highest count of wrecks the number of ship wrecks.
ten_flags = ship_flag.groupby(["Flag"]).count().sort_values(["Ship"], ascending=False).head(10)
ten_flags.reset_index(inplace=True)

print(ten_flags)

g = sns.scatterplot(x="Flag", y="Ship", data=ten_flags)
g.set_xlabel("Flag")
g.set_ylabel("Count")
g.set_title("Count Flags with highest wrecks")
g.set_xticklabels(g.get_xticklabels(), rotation=40)

In [ ]:
# Plot per year in the 21th century the number of shipwrecks
per_year = ship_sunk.groupby(["Year"]).count().sort_values(["Year"], ascending=False).reset_index()
after_2000 = per_year[per_year.Year >= 2000]
print(after_2000[['Year', 'Ship']])


g = sns.scatterplot(x="Year", y="Ship", data=per_year)
g.set_xlabel("Year")
g.set_ylabel("Count")
g.set_title("Count shipwrecks per year")
g.set_xticklabels(g.get_xticklabels(), rotation=40)